<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Front Api</title>
        {% stylesheets filter='cssrewrite' output='css/compiled/main.css'
            '@ClientBundle/Resources/public/css/*'%}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
        
        {% javascripts '@ClientBundle/Resources/public/js/*' output='js/compiled/main.js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </head>
    <body>
        <div class="container-fluid">
            <header class="row-fluid">
                <div class="col-lg-offset-2">
                    {% include ('ClientBundle:Default:menu.html.twig') %}
                </div>
            </header>
            <div class="row-fluid">
                <div class="col-lg-3">
                    
                </div>
                <div class="col-lg-6">
                    {% block content %}
                    {% endblock %}
                </div>
                
            </div>
        </div>
    </body>
</html>
